language: cpp

jobs:
  include:
  - os: linux
    install:
      - sudo apt-get update -yq
      - sudo apt-get install -yq qt5-qmake qt5-default
    script:
      - qmake
      - make
  - os: osx
    install:
      - brew install qt
      - brew link qt5 --force
    script:
      - qmake
      - make
